<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet Vuetify css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@1.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">   

    <title>Form page</title>
</head>
<body>

    <!-- toolbar -->
    <div id="app1">
        <v-app>
            <v-toolbar >
                
                <!-- Title -->
                <v-toolbar-title class=" blue--text text--darken-3">Majd Almotaem</v-toolbar-title>
                
                <!-- Search field -->
                <v-text-field
                  Filled
                  size="20"
                  hide-details
                  label=""
                  placeholder="Search"
                  append-icon="mdi-magnify" class="shrink mx-5">
                </v-text-field>
                <v-spacer></v-spacer>
                
                <!-- buttons toolbar -->
                <v-btn round class="ml-1 blue white--text">Home</v-btn>
                <v-btn round class="ml-1 blue white--text">Services</v-btn>
                <v-btn round class="ml-1 blue white--text">About us</v-btn>
                <v-btn round class="ml-1 blue white--text">Contact</v-btn>
            </v-toolbar>

            <br><br>
         
            <!-- form -->
            <v-container>
                  <v-form
                    ref="form" 
                    >

                    <!-- Title -->
                    <h2 class="text-md-center blue--text text--darken-3">Customer Details</h2>
                    
                    <!-- Name -->
                    <v-text-field 
                      append-icon="person"
                      v-model="fullName"
                      :counter="15"
                      :rules="nameRules"
                      label="Full Name"
                      required>
                    </v-text-field>
                    
                    <!-- Email -->
                    <v-text-field
                      type="email"
                      append-icon="email"
                      v-model="email"
                      :rules="emailRules"
                      hint="example@gmail.com"
                      label="E-mail"
                      required>
                    </v-text-field>
                    
                    <!-- City -->
                    <v-text-field
                      v-model="city"
                      :rules="[v => !!v || 'field is required']"
                      label="City"
                      required>
                    </v-text-field>
                      
                    <!-- Street -->
                    <v-text-field
                      v-model="street"
                      :rules="[v => !!v || 'field is required']"
                      label="Street"
                      required>
                    </v-text-field>
                      
                    <!-- Country -->
                    <v-autocomplete
                      ref="country"
                      append-icon="mdi-map-marker"
                      v-model="country"
                      :rules="[() => !!country || 'This field is required']"
                      :items="country"
                      label="Country"
                      placeholder="Select..."
                      required
                    ></v-autocomplete>

                    <!-- Birthday -->
                    <v-text-field
                      type="date"
                      v-model="date"
                      :rules="[v => !!v || 'field is required']"
                      label="Birthday"
                      required>
                    </v-text-field>

                    <!-- checkbox -->
                    <v-checkbox
                      color="blue"
                       v-model="checkbox"
                      :rules="[v => !!v || 'You must agree to countinue!']"
                      label='I only work if you check the box'
                    ></v-checkbox>
                    
                    <!-- Submit button -->
                    <v-btn 
                      round
                      class="mr-4" 
                      @click="validate"
                      color="success"
                      :disabled="!valid"
                    >submit</v-btn>
                    
                    <!-- Clear button -->
                    <v-btn
                      round
                      class="mr-4"
                      @click="reset"
                      >clear
                    </v-btn>
                    

                  </v-form>
            </v-container>
        </v-app>
    </div>
    
    
    
   
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@1.x/dist/vuetify.js"></script>
    <script src="/vuetify/vue.js"></script>
    
    
</body>
</html>